<div ng-include="'views/links.html'"></div>

<div>
  <!-- Colored FAB button -->
  <button mdl-button class="mdl-button--fab mdl-button--colored" ignore-ripple-effect>
    <i class="material-icons">add</i>
  </button>
  <button mdl-button class="mdl-button--fab mdl-button--colored" ignore-ripple-effect>
    <i class="material-icons">add</i>
  </button>
  <!-- Colored FAB button with ripple -->
  <button mdl-button class="mdl-button--fab mdl-button--colored">
    <i class="material-icons">add</i>
  </button>
</div>

<div>
  <!-- FAB button -->
  <button mdl-button class="mdl-button--fab" ignore-ripple-effect>
    <i class="material-icons">add</i>
  </button>
  <!-- FAB button with ripple -->
  <button mdl-button class="mdl-button--fab">
    <i class="material-icons">add</i>
  </button>
  <!-- Disabled FAB button -->
  <button mdl-button class="mdl-button--fab" disabled ignore-ripple-effect>
    <i class="material-icons">add</i>
  </button>
</div>

<div>
  <!-- Raised button -->
  <button mdl-button class="mdl-button--raised" ignore-ripple-effect>
    Button
  </button>
  <!-- Raised button with ripple -->
  <button mdl-button class="mdl-button--raised">
    Button
  </button>
  <!-- Raised disabled button -->
  <button mdl-button class="mdl-button--raised" disabled ignore-ripple-effect>
    Button
  </button>
</div>

<div>
  <!-- Colored raised button -->
  <button mdl-button class="mdl-button--raised mdl-button--colored">
    Button
  </button>
  <!-- Accent-colored raised button -->
  <button mdl-button class="mdl-button--raised mdl-button--accent">
    Button
  </button>
  <!-- Accent-colored raised button with ripple -->
  <button mdl-button class="mdl-button--raised mdl-button--accent" ignore-ripple-effect>
    Button
  </button>
</div>

<div>
  <!-- Flat button -->
  <button mdl-button ignore-ripple-effect>
    Button
  </button>
  <!-- Flat button with ripple -->
  <button mdl-button>
    Button
  </button>
  <!-- Disabled flat button -->
  <button mdl-button disabled ignore-ripple-effect>
    Button
  </button>
</div>

<div>
  <!-- Primary-colored flat button -->
  <button mdl-button class="mdl-button--primary" ignore-ripple-effect>
    Button
  </button>
  <!-- Accent-colored flat button -->
  <button mdl-button class="mdl-button--accent" ignore-ripple-effect>
    Button
  </button>
</div>

<div>
  <!-- Icon button -->
  <button mdl-button class="mdl-button--icon" ignore-ripple-effect>
    <i class="material-icons">mood</i>
  </button>
  <!-- Colored icon button -->
  <button mdl-button class="mdl-button--icon mdl-button--colored" ignore-ripple-effect>
    <i class="material-icons">mood</i>
  </button>
</div>

<div>
  <!-- Mini FAB button -->
  <button mdl-button class="mdl-button--fab mdl-button--mini-fab" ignore-ripple-effect>
    <i class="material-icons">add</i>
  </button>
  <!-- Colored mini FAB button -->
  <button mdl-button class="mdl-button--fab mdl-button--mini-fab mdl-button--colored" ignore-ripple-effect>
    <i class="material-icons">add</i>
  </button>
</div>