<div ng-include="'views/links.html'"></div>

<div class="padding">
  <!-- Simple MDL Progress Bar -->
  <div id="p1" mdl-progress progress="44"></div>
</div>

<div class="padding">
  <!-- MDL Progress Bar with Indeterminate Progress -->
  <div id="p2" mdl-progress class="mdl-progress__indeterminate"></div>
</div>

<div class="padding">
  <!-- MDL Progress Bar with Buffering -->
  <div id="p3" mdl-progress progress="33", buffer="87"></div>
</div>

<div class="padding">
  
  <!-- MDL Spinner Component -->
  <div mdl-spinner class="is-active"></div>
  <!-- MDL Spinner Component with Single Color -->
  <div mdl-spinner class="mdl-spinner--single-color is-active"></div>

</div>