<div ng-include="'views/links.html'"></div>

<div>
  <!-- Simple Tooltip -->
  <div mdl-tooltip-target="tt1" class="icon material-icons">add</div>
  <div mdl-tooltip="tt1">
    Follow
  </div>
  <!-- Large Tooltip -->
  <div mdl-tooltip-target="tt2" class="icon material-icons">print</div>
  <div mdl-tooltip="tt2" class="mdl-tooltip--large">
    Print
  </div>
</div>

<div>
  <!-- Rich Tooltip -->
  <div mdl-tooltip-target="tt3" class="icon material-icons">cloud_upload</div>
  <div mdl-tooltip="tt3">
    Upload <strong>file.zip</strong>
  </div>
  <!-- Multiline Tooltip -->
  <div mdl-tooltip-target="tt4" class="icon material-icons">share</div>
  <div mdl-tooltip="tt4">
    Share your content<br>via social media
  </div>
</div>
